* {
    font-family: arial;
}

body {
	margin: 0 auto;


}
#wrapper{
	width:100%;
    box-sizing: border-box;
    padding 0 1.6%;
    background-color: #eee;
        }
        
header{
	background-color: #252525;
    color: #ebebeb;
    min-height: 100px;
}
        
nav {
	background-color: #ddd;
	min-height: 300px;          
	min-width: 100%;
}
        
section {
	background-color: #ddd;
	min-height: 300px;
            }

.header_section h2 {
	text-align: center;
	margin: 0 auto;
}       

.background_section img {
	width: 100%;
}


.background_section h1 {
	color: #ebebeb;
	position: absolute;
    top:120px;
	text-shadow: 2px 2px #252525; 
    text-align: center;
    width: 100%;
   
}

.background_section p {
	color: #ebebeb;
	position:absolute;
    top:165px;
    left: 5%;
    text-align: center;
	text-shadow: 2px 2px #252525; 
    width: 90%;
}

.about_section {
	background-color: #ebebeb;
	height: 840px;
	
}

.about_first, .about_second {
	background-color: #5c8190;
	height: 400px;
	color: #ebebeb;
	
}

.about_first h2, .about_second h2 {
	padding-left: 2%;
	padding-top: 25px;
	margin-bottom: 0;
	text-align: center;
	
}

.about_first p:nth-child(2), .about_second p:nth-child(2) {
	color: #7e3094;
	font-weight: bold;
	margin: 7px;
}
.about_first p, .about_second p {
	margin: 3%;
	text-align: center;
}

.about_first img {
	margin-left: 30%;
	text-align: center;

}

.about_second img {
	margin-left: 31%;
	text-align: center;
}


.skill_section {
	height: 1000px;
	background-color: #5c8190;
	background: linear-gradient(360deg, #07151d, #07151d 10%, #5c8190);
	color: #ebebeb;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;

}
/*--------------------------CONTACT-------------------------------*/
.main_section {
	background-color: #ebebeb;
	height: 950px;
}

.contact_section h1 {
	color: #5c8190;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 25px;
	
}
.contact_section p {
	color: #252525;
	text-align: center;
	margin: 10px 5%; 
}

.map_section iframe {
	margin-left: 5%;
	margin-top: 20px;
	border: 210px solid #252525;
}
.contact-form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
}

input, textarea {
    font: 1em sans-serif;
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
	margin-top: 15px;
	margin-left: 0px;
}

input {
	height: 40px;
}
input:focus, textarea:focus {
    border-color: #000;
}

textarea {
	vertical-align: top;
    height: 100px;
    resize: none;
}

.button {
	margin-top: 10px;
}
.button button {
	background-color:#92278e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #92278e;
	display:inline-block;
	cursor:pointer;
	color:#ebebeb;
	font-size:17px;
	padding:9px 172px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

.button button:hover {
	background-color:#701e6f;
}
.button button:active {
	position:relative;
	top:1px;
}

.logo_section  {
	margin-top: 40px;
	margin-left: 30.5%
}
.logo {
	margin-left: 1%;
}
.footer_section {
    background-color: #252525;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 55px;
    color: #ebebeb;
   
}

.footer_section p{
    font-size: 12px;
    float:left;
    line-height: 40px;
    margin-left: 5%;
	margin-bottom: 0;
}


.top-button {
    height: 50px;
    width: 50px;
    background-color: #92278e;
    border-radius: 100%;
    float: right;
    margin-right: 5%;
    margin-top: 5px;
    
}


.top-button img {
    z-index: 1;
    height: 25px;
    width: 25px;
    margin-top: 20%;
    
}


 @media only screen and (min-width: 460px) {
 	#wrapper{
        width:100%;
        }
	 
	.about_first img {
		margin-left: 39%;
		text-align: center;
		}

	 .about_second img {
		margin-left: 39%;
		text-align: center;
	 	}
	 .background_section h1 {
		color: #ebebeb;
		position: absolute;
    	top:160px;
		text-shadow: 2px 2px #252525; 
    	text-align: center;
    	width: 100%;
		font-size: 3em;
	 	}

	 .background_section p {
		color: #ebebeb;
		position:absolute;
    	top:250px;
    	left: 5%;
    	text-align: center;
		text-shadow: 2px 2px #252525; 
    	width: 90%;
		font-size: 1.5em;
	 	}

 }