* {
    font-family: 'PT Sans', Arial, sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

#wrapper{
            width:100%;
            box-sizing: border-box;
            background-color: #eee;
        }
        
        header{
            background-color: #252525;
            color: #ebebeb;

            
        }
                 
            
        }



/* =Nav
-------------------------------------------------------------- */
nav {
    height: 40px;
    width: 100%;
    background: #252525;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #ebebeb;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 400px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

#hamburger {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    display: inline-block;
    float: right;
    margin-right: 5%;

}

#logo {
    display: inline-block;
    float: left;
    line-height: 50px;
    margin-left: 5%;
    height: 70px;
    width: 120px;
   
}

nav a {
    color: #ebebeb;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #252525;
}

nav li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav li:nth-child(2) a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #ebebeb;
}

nav a#pull {
    display: none;
}

@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
        
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        
    }
}

@media only screen and (max-width : 460px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #252525;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
       
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
        
    }
    nav li a {
        border-bottom: 1px solid #ebebeb;
    }
}
/*
-------------------------------------------------------------- */














.line {
    width: 20%;
    display: inline-block;
    float: left;
    border: 1px solid #5C8190;
    height: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #5C8190;
   
}



.header_section h2{
    text-align: center;
    margin: 0 auto;
    
}



.main_logo {
    z-index: 1;
    position: absolute;
    display: none;
}

.video_section {
   
    height: 400px;
    width: 100%;
    
    
}

.video_section img {
    height: 400px;
    width: 100%;
    position: relative;
}

.video_section video {
    display: none;
}

.main_bg{
   height: 400px;
    width: 100%;
    position: relative;
}    
    


.video_section h1{
   
    width: 100%;
    color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    line-height: 250px;
    text-shadow: 2px 2px black;
    
  
   
   
}

.video_section p{
    
     color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    line-height: 340px;
    width: 100%;
    text-shadow: 2px 2px black;
   

 
    
}





.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


.featured_section {
    height: 780px;
    background-color: #ebebeb;
    margin-top: 30px;
    
    
}


.projects_list {
    text-decoration: none;
    list-style: none;
    width: 100%;
    float:left;
    padding: 0;

    
}

.featured_section h2 {
    width: 60%;
    display: inline-block;
    float:left;
    margin-top: 0;
    text-align: center;
    color: #5C8190;
    
}



.featured_project {
   
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}



.featured_project h1 {
    color: #ebebeb;
    text-shadow: 2px 2px #252525;
}

.featured_project p {
    color: #ebebeb;
    text-shadow: 2px 2px #252525;
}

.featured_project img {
    
    width: 100%; 
    height: 200px;     
}

.featured_project_overlay {
    position:absolute;
    top:0;
    z-index:1;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}


.featured_section_button {
        color: white;
        font-size: 20px;
        background: purple;
        height: 80px;
        width: 80%;
        margin-left:10%;
        border-radius: 10px;
}


.featured_section_button:hover {
    background-color:#701e6f;
}

.specialize_section {
    

 
  background-color: #5c8190 ;
    background: linear-gradient(360deg, #07151d , #07151d  10%, #5c8190 );
    color: #ebebeb ;
  width: 100%;
  height: 1380px;
    margin-top: 15px;

}


.specialize_list {
    list-style: none;
    padding: 0;
    
}


.specialize_section h1{
    text-align: center;
     color: #ebebeb;
    text-shadow: 2px 2px #252525;
    display: inline-block;
    width: 60%;
    float:left;

}


.specialize_section p{
    margin-right:5%;
    margin-left:5%;
}

.line2 {
    width: 20%;
    display: inline-block;
    float: left;
    border: 1px solid #ebebeb;
    height: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #ebebeb;
}

.specialize_section h4{
    text-align: center;
     color: #ebebeb;
    text-shadow: 2px 2px #252525;
    clear: both;

}

.specialize_section img{
    width: 250px;
    height: 250px;
   margin-left:auto;
    margin-right: auto;
    display: block;
    
    

}

.specialize_section h2{
    color: #ebebeb;
    text-align: center;
    text-shadow: 2px 2px #252525;
    
}

.specialize_section p{
    color: #ebebeb;
    text-align: center;
    text-shadow: 2px 2px #252525;
}
   

        






.footer-section {
    background-color: #252525;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 55px;
    color: #ebebeb;
   
}

.footer-section p{
    font-size: 12px;
    float:left;
    line-height: 40px;
    margin-left: 5%;
}


.top-button {
    height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 100%;
    float: right;
    margin-right: 5%;
    margin-top: 5px;
    
}

.top-button:hover {
    
    background-color:#701e6f;
}

.top-button img {
    z-index: 1;
    height: 25px;
    width: 25px;
    margin-top: 20%
    
}


.projects_section {
    
    width: 100%;
    background-color: #ebebeb;
}

.projects_section_overlay {
     color: #252525;
    text-align: center;
    font-size: 30px;
    margin: 0;
}


.projects_section ul{
    color: #ebebeb;
    list-style: none;
    text-align: center;
    
}

.projects_section li{
    display: inline;
}


.projects_section_header {
   width: 40%;
    display: inline-block;
    float:left;
    margin-top: 30px;
    text-align: center;
    color: #5C8190;
    font-size: 30px;
   
    
    
}

.line3 {
    width: 30%;
    display: inline-block;
    float: left;
    border: 1px solid #5C8190;
    height: 5px;
    box-sizing: border-box;
    margin-top: 45px;
    background-color: #5C8190;
    margin-bottom: 90px;
}



.controls img{
    height: 50px;
   
}

.controls{
  padding: 5%;
  background: #252525;
   
  color: #eee;
    text-align: center;
   
}

label{
  font-weight: 300;
    font-size: 25px;
    
    
  
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #ebebeb;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.project_overlay {
    z-index:1;
    text-align: center;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 30%;
    text-shadow: 2px 2px #252525;
    
   
}

.project_overlay p {
    margin: 0;
    color: #ebebeb;
}



.project_overlay h1 {
   
    color: #ebebeb;
   
  
}


.projects_section_top {
    background-color:white;
    color:red;
    height: 100px;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #ebebeb;
  -webkit-backface-visibility: hidden;
    position: relative;
    height: auto;
    
}

.container .desc {
    color; blue;
    font-size: 20px;
}
.container img{
    height: 100%;
    width: 100%;
   
    
    
}

.filter_all {
    width: 50px;
    height: 50px;
    
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 100%;
    height: 250px;
}

.container .mix{
  text-align: left;
  background: #252525;
  margin-bottom: 2%;
  display: none;
    position: relative;
}

.container .mix.category-1{
  border-top: 5px solid green;
}

.container .mix.category-2{
  border-top: 5px solid blue;
}

.container .mix.category-3{
  border-top: 5px solid red;
}





@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 100%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 49%;
  }
}

@media all and (min-width: 1024px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}




/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
 @media only screen  and (min-width: 640px)  {
      
      
      .featured_section {
    height: 320px;
         
       
}


.featured_project {
    display: inline-block;
    margin-left: 2.5%;
    width: 30%;
    float:left;
}


.featured_project img {   
    width: 100%; 
    height: 150px;     
}


.featured_section_button {    
        width: 40%;
        margin-left: 30%;
}
      
      
.line {
    width: 30%;
   
}


      
.featured_section h2 {
    width: 40%;
}

.line2 {
    width: 30%;
}

.specialize_section h1 {
    width: 40%
}
      
.specialize_section {
    height:1250px;
}
      
      
      
.video_section {
   
    height: 400px;
    
}


.video_section video {
 display: none;   
}
      
.video_section img{
   height: 400px;
    width: 100%;
    position: relative;
}    
    
    

.video_section h1{
    width: 100%;
    color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    line-height: 300px;
    padding: 0;
    margin: 0;
    font-size: 50px;
  
   
}

.video_section p{
    
    color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    line-height: 390px;
    width: 100%;
     padding: 0;
    margin: 0;
    font-size: 20px;
    
}
      
      
      
  }


/* ----------- Retina Screens ----------- */
 @media only screen  and (min-width: 1025px)  {
      
      
 .featured_section {
    height: 530px;
     
       
}
     

.featured_project_overlay {
    position:absolute;
    top:13%;
    z-index:1;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.featured_project {
    display: inline-block;
    margin-left: 2.5%;
    width: 30%;
    float:left;
    margin-bottom: 20px;
}


.featured_project img {   
    width: 100%; 
    height: 250px;     
}


.featured_section_button {    
        width: 30%;
        margin-left: 35%;
}
      
      
.line {
    width: 35%;
   margin-top: 20px;
   
}

 .featured_project_overlay h1{
     font-size: 30px;
     
 }
     
      .featured_project_overlay p{
     font-size: 20px;
     
 }
      
.featured_section h2 {
    width: 30%;
    font-size: 40px;
}

.line2 {
    width: 35%;
    margin-top: 50px;
}
      
.specialize_section h1 {
    width: 30%;
    font-size: 40px;
}
  
 
     
.specialize_section {
  
  height: 600px;

}
.specialize_section img {
    height: 200px;
    width: 200px;
    
}

.specialize_list {
    list-style: none;
    text-decoration: none;
    margin-top: 50px

}
     
 .specialize_list li {
   
    margin-left:auto;
     margin-right: auto;
     width: 33%;
     max-height: 200px;
     display: inline-block;
}




.specialize_section h4{
    text-align: center;
     color: #ebebeb;
    text-shadow: 2px 2px #252525;
    clear: both;

}

.specialize_section img{
    width: 300px;
    height: 200px;
     position: inherit;
   
}

     
.video_section h1{
    line-height: 100px;
}
     
     .video_section p{
    line-height: 100px;
}
     
     
.video_section {
   
    height: 700px;
    
}
     
.video_section img {
    height: 700px;
    width: 100%;
}
     

     


.main_bg{
    height: 860px;
    
} 
     
.main_logo {
    display: block;
    }
     
    

     


.video_section h1{
    width: 100%;
    font-size: 80px;
    color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 300px;
    padding: 0;
    margin: 0;
    
   
}

.video_section p{
    font-size: 30px;
    color: #ebebeb;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 420px;
    width: 100%;
     padding: 0;
    margin: 0;
    
}

}


 @media only screen  and (min-width: 1920px)  {
     
     .video_section {
         height: 1060px;
     }
     
     .video_section video {
        display: block;   
        }
     
     .video_section img {
         display:none;
     }
     
     .featured_project_overlay {
    position:absolute;
    top: 0;
    z-index:1;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
     
     .featured_project_overlay h1{
     font-size: 30px;
     
 }
     
      .featured_project_overlay p{
     font-size: 20px;
     
 }



