<<<<<<< HEAD
html {
    margin: 0 0 0 0;
=======
.

body {
    background-color: black;
>>>>>>> 2557fd15aef7efec30f8f88431b97a326a14cc1f
}


#wrapper{
            width:100%;
            box-sizing: border-box;
            padding 0 1.6%;
            background-color: #eee;
            margin-top:-10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
        }
        
        header{
            background-color: #252525;
            color: #ebebeb;
            min-height: 100px;
        }
        
        nav {
            background-color: #ddd;
            min-height: 300px;          
            min-width: 100%;
        }
        
        section {
            background-color: #ddd;
            min-height: 300px;
            
        }
        

* {
    font-family: arial;
}

h1{
    color:red;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0 0 0 0;
}
  
p {
    color: red;
}


#container {
    position:relative;
    width: 100%; 
    height: 100%;
}

#videobcg {
    position:relative;
    z-index:0;
    width: 100%; 
    height: 100%;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.enterbutton {
    color: white;
    background: red; 
    display: none;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.featuredsection {
    height: 20%;
    background-color: #ebebeb;
    
}

.featuredcontainer {
   width: 80%; 
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.featuredcontainer h1, p {
    color: #ebebeb;
    text-shadow: 2px 2px #252525;
}

.featuredcontainer img {
    
    width: 100%; 
    height: 200px;     
}

.featuredoverlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}


.featuredbutton {
        color: white;
        background: purple;
        height: 50px;
        width: 100%;
}

.specializesection {
    
  background-image: -moz-linear-gradient( 90deg, rgb(3,3,3) 0%, rgb(7,21,29) 2%, rgb(40,77,86) 25%, rgb(110,132,145) 50%, rgb(199,188,196) 75%, rgb(245,234,233) 97%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(3,3,3) 0%, rgb(7,21,29) 2%, rgb(40,77,86) 25%, rgb(110,132,145) 50%, rgb(199,188,196) 75%, rgb(245,234,233) 97%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(3,3,3) 0%, rgb(7,21,29) 2%, rgb(40,77,86) 25%, rgb(110,132,145) 50%, rgb(199,188,196) 75%, rgb(245,234,233) 97%, rgb(255,255,255) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

}
        

 @media only screen and (min-width: 480px) {
            #wrapper{
                width:100%;
            }
     
     .enterbutton {
            color: white;
            background: red; 
            display: inline;
            text-align: center;
         height: 40px;
         width: 100px;
         
            }
     
     h1{
    color:red;
    text-align: center;
         font-size: 50px;
}
  
p {
    color: red;
    font-size: 20px
  }
}
<<<<<<< HEAD
=======
        }

>>>>>>> 2557fd15aef7efec30f8f88431b97a326a14cc1f
